@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
}

.left-links {
  list-style-type: none;
  display: flex;
  padding: 0 90px;
}

.right-links {
  list-style-type: none;
  display: flex;
  gap: 4px;
  padding: 0 90px;
  flex-shrink: 1;
}

li {
  margin: 8px;
}

.left-links > li {
  margin: 2px;
}

* {
  box-sizing: border-box;
}

.awesome-container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 50%;
}

.awe-section {
  display: flex;
  border: 1px solid red;
  padding: 30px 90px;
  justify-content: space-between;
  border: 1px solid red;
}

img {
  width: 50%;
}

.class {
  background-color: #1f2937;
  padding: 0 0 40px;
  margin-bottom: 0px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 40px;
}

.info {
  margin-top: 0px;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  margin: 0;
  gap: 1px;
  padding: 0 95px 0;
  justify-content: space-evenly;
}

div.card {
  width: 140px;
  height: 200px;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card {
  height: 140px;
  width: 125px;
  border-radius: 9px;
  border: 3px solid #5582ca;
}

p {
  text-align: center;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

#quote {
  display: flex;
  flex-direction: column;
  padding: 70px 80px 70px;
  align-items: center;
  justify-items: center;
  background-color: #e4e7eb;
}

.quote-text {
  max-width: 50%;
  font-size: 36px;
  color: #1f2937;
}

#author {
  align-self: flex-end;
}

* {
  border: 1px solid red;
}

footer {
  text-align: center;
}

header,
.awe-section {
  background-color: #1f2937;
  color: aliceblue;
}
